
// config file for SCARLET Nextflow

manifest.defaultBranch = 'main'

report {
    enabled = true
    overwrite = true
}

params.threads = 64

//minimum bam coverage to be used in the epi2me-labs/wf-human-variation stages
params.bam_min_coverage = 1

// minimum average sequence coverage through the mgmt promter region
// this required to calculate the methylation status of mgmt and also plot meth data
params.minimum_mgmt_cov = 5

// enable for slurm
//process.executor = 'slurm'

process {
    withName: get_versions {
        container = 'graefox/scarlet:dev7'
    }
    withName: get_versions_outside_docker {
        container = null
    }
    withName: check_bam_has_meth_data {
        container = 'graefox/scarlet:dev7'
    }
    withName: modkit_adjust_mods {
        container = 'graefox/scarlet:dev7'
    }
    withName: index_input_bam {
        container = 'graefox/scarlet:dev7'
    }
    withName: index_merged_bam {
        container = 'graefox/scarlet:dev7'
    }
    withName: nanoplot {
        container = 'graefox/scarlet:dev7'
    }
    withName: check_mgmt_coverage {
        container = 'graefox/scarlet:dev7'
    }
    withName: draw_mgmt_methylartist {
        container = 'graefox/scarlet:dev7'
    }
    withName: mosdepth {
        container = 'graefox/scarlet:dev7'
    }
    withName: index_subsetted_bam {
        container = 'graefox/scarlet:dev7'
    }
    withName: human_variation_mods {
        container = null
    }
    withName: human_variation_cnv {
        container = null
    }
    withName: summarise_qdna_seq {
        container = 'graefox/scarlet:dev7'
    }
    withName: human_variation_sv {
        container = null
    }
    withName: subset_bam_by_bed {
        container = 'graefox/scarlet:dev7'
    }
    withName: get_wanted_read_ids {
        container = 'graefox/scarlet:dev7'
    }
    withName: add_suppl_alignments_to_subset {
        container = 'graefox/scarlet:dev7'
    }
    withName: index_suppl_subset_bam {
        container = 'graefox/scarlet:dev7'
    }
    withName: human_variation_snp {
        container = null
    }
    withName: index_reference {
        container = 'graefox/scarlet:dev7'
    }
    withName: clairS_to_variants {
        container = 'hkubal/clairs-to:latest'
    }
    withName: filter_to_somatic_variants_only {
        container = 'graefox/scarlet:dev7'
    }
    withName: igv_reports {
        container = 'graefox/scarlet:dev7'
    }
    withName: cnvpytor {
        container = 'graefox/scarlet:dev7'
    }
    withName: vcftools {
        container = 'graefox/scarlet:dev7'
    }
    withName: vcftools_somatic {
        container = 'graefox/scarlet:dev7'
    }
    withName: gzip {
        container = 'graefox/scarlet:dev7'
    }
    withName: gzip_somatic {
        container = 'graefox/scarlet:dev7'
    }
    withName: merge_somatic_snvs_and_indels {
        container = 'graefox/scarlet:dev7'
    }
    withName: bedtools_intersect {
        container = 'graefox/scarlet:dev7'
    }
    withName: bedtools_intersect_somatic {
        container = 'graefox/scarlet:dev7'
    }
    withName: convert2annovar {
        container = 'graefox/scarlet:dev7'
    }
    withName: convert2annovar_somatic {
        container = 'graefox/scarlet:dev7'
    }
    withName: table_annovar {
        container = 'graefox/scarlet:dev7'
    }
    withName: table_annovar_somatic {
        container = 'graefox/scarlet:dev7'
    }
    withName: bedtools_intersect2 {
        container = 'graefox/scarlet:dev7'
    }
    withName: mgmt_pred {
        container = 'graefox/scarlet:dev7'
    }
    withName: rapid_cns2_meth_classification {
        container = 'graefox/scarlet:dev7'
    }
    withName: filter_report {
        container = 'graefox/scarlet:dev7'
    }
    withName: filter_report_somatic {
        container = 'graefox/scarlet:dev7'
    }
    withName: find_seq_platform {
        container = 'graefox/scarlet:dev7'
    }
    withName: make_report {
        container = 'graefox/scarlet:dev7'
    }
    withName:  STURGEON_modkit_extract {
        container = 'graefox/scarlet:dev7'
    }
    withName:  STURGEON_inputtobed {
        container = 'graefox/scarlet:dev7'
    }
    withName:  STURGEON_predict {
        container = 'graefox/scarlet:dev7'
    }
    withName:  nanoDx_modkit {
        container = 'graefox/scarlet:dev7'
    }
    withName:  gzip_nanoDx_modkit {
        container = 'graefox/scarlet:dev7'
    }
    withName:  nanoDx_annotate_bedMethyl {
        container = 'graefox/scarlet:dev7'
    }
    withName:  nanoDx_NN_classify_capper {
        container = 'graefox/scarlet:dev7'
    }
    withName:  nanoDx_NN_classify_pancan {
        container = 'graefox/scarlet:dev7'
    }
    withName:  unique_genes_cov {
        container = 'graefox/scarlet:dev7'
    }
    withName:  build_results_table {
        container = 'graefox/scarlet:dev7'
    }
    withName:  filter_gene_cov {
        container = 'graefox/scarlet:dev7'
    }
}

profiles {
    standard {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        singularity {
            enabled = false
        }
    }
    singularity {
        docker {
            enabled = false
        }
        singularity {
            enabled = true
            autoMounts = true
            pullTimeout = '2h'
        }
    }
}
